@keyframes startMenuFadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes dialogueRiseUp {
    from {transform: translateY(5px); opacity: 0;}
    to {transform: translateY(-5px); opacity: 100;}
}

.startMenuButton {
    z-index: 3;
    opacity: 0;
    animation-name: startMenuFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.startMenuTitle {
    z-index: 3;
    opacity: 0;
    animation-name: startMenuFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.startMenuHolder {
    height:0px;
    overflow:visible;
    z-index: 3;
    position: absolute;
    width: 1024px;

    text-align: center;
}

.dialogueLine {
    z-index: 3;
    position: absolute;
    text-align: center;

    animation-name: dialogueRiseUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialogueDivs {
    height:0px;
    overflow:visible;
    z-index: 3;
    position: absolute;
    width: 1024px;

    text-align: center;
}

#game {
    position: relative;
    font-family: Garamond, 'Times New Roman', Times, serif;
}


#gameCanvas {
    z-index: 0;
    position: absolute;
}