@keyframes startMenuFadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

.startMenuButton {
    z-index: 3;
    opacity: 0;
    animation-name: startMenuFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.startMenuTitle {
    z-index: 3;
    opacity: 0;
    animation-name: startMenuFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.startMenuHolder {
    z-index: 3;
    position: absolute;
    height: 576px;
    width: 1024px;

    text-align: center;
}

.dialogueLine {
    z-index: 3;
    position: absolute;
    text-align: center;
}

.dialogueDivs {
    z-index: 3;
    position: absolute;
    height: 576px;
    width: 1024px;

    text-align: center;
}

#game {
    position: relative;
    font-family: Garamond, 'Times New Roman', Times, serif;
}


#gameCanvas {
    z-index: 0;
    position: absolute;
}